body {
    margin: 10px;
    font-family: Verdana;
}

nav {
    border: 5px solid #aaa;
    display: flex;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
    /* flex-direction: column; */
    
}

nav div {
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    min-width: 250px;
    flex: 1;
}

nav div:nth-child(1) {
    background-color: #84b0f8;
    order: 3;
}
nav div:nth-child(2) {
    background-color: #f2857c;
    order: 1;
}
nav div:nth-child(3) {
    background-color: #fcd35d;
    order: 2;
}
